.source-re {
    font-family: SourceSansPro;
    font-weight: 400;
}
.source-senmi {
    font-family: SourceSansPro;
    font-weight: 600;
}
.alien-bold {
    font-family: ALIENS-AND-COWS;
    font-weight: 700;
}
.source-bold {
    font-family:  SourceSansPro; 
    font-weight: 700;
}
.aline-light {
    font-family: ALIENS-AND-COWS;
    font-weight: 300;
}
