@font-face {
    font-family: SourceSansPro;
    src: url(/fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: SourceSansPro;
    src: url(/fonts/SourceSansPro-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: ALIENS-AND-COWS;
    src: url(/fonts/ALIENS-AND-COWS-BOLD-TTF.TTF);
    font-weight: 700;
}
@font-face {
    font-family:  SourceSansPro; 
    src: url(/fonts/SourceSansPro-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: ALIENS-AND-COWS;
    src: url(/fonts/ALIENS-AND-COWS-LIGHT-TTF.TTF);
    font-weight: 300;
}